@page "/libraries/create"
@using MangaIngestWithUpscaling.Data.LibraryManagement

@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject NavigationManager NavigationManager

<PageTitle>Create Library</PageTitle>

<MudCard>
    <MudCardHeader>
        <MudStack Row="true" AlignItems="AlignItems.Center">
            <a href="libraries"><MudIconButton Icon="@Icons.Material.Filled.ArrowBack" /></a>
            <MudText Typo="Typo.h5">Create Library</MudText>
        </MudStack>
    </MudCardHeader>
    <MudCardContent>
        <EditLibraryForm @bind-Library="Library"
                         @bind-IsValid="IsValid" />
    </MudCardContent>
    <MudCardActions>
        <MudSpacer />
        <MudButton StartIcon="@Icons.Material.Filled.Save"
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   Disabled="!IsValid"
                   OnClick="OnCreateLibrary">Create</MudButton>
    </MudCardActions>
</MudCard>


@code {
    private Library Library { get; set; } = new Library()
        {
            Name = ""
        };

    public bool IsValid { get; set; } = false;

    private async Task OnCreateLibrary()
    {
        await using var context = await DbContextFactory.CreateDbContextAsync();
        context.Libraries.Add(Library);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/libraries");
    }
}
