@using MangaIngestWithUpscaling.Data.BackqroundTaskQueue
@using MangaIngestWithUpscaling.Services.BackqroundTaskQueue
@using MangaIngestWithUpscaling.Services.BackqroundTaskQueue.Tasks
@using Microsoft.EntityFrameworkCore

@implements IDisposable

@inject ApplicationDbContext DbContext
@inject ILogger<TaskQueues> Logger

@inject TaskQueue TaskQueue
@inject StandardTaskProcessor StandardTaskProcessor
@inject UpscaleTaskProcessor UpscaleTaskProcessor

@page "/tasks"

<h3>Running tasks</h3>

<MudGrid >
    <MudItem lg="6" xs="12">
        <TaskTable Tasks="@standardTasks" />
    </MudItem>
    <MudItem lg="6" xs="12">
        <TaskTable Tasks="@upscaleTasks" />
    </MudItem>
</MudGrid>

@code {
    private IReadOnlyCollection<PersistedTask> standardTasks { get; set; }
    private IReadOnlyCollection<PersistedTask> upscaleTasks { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await UpdateTasks();

        TaskQueue.TaskEnqueued += OnTaskUpdate;
        StandardTaskProcessor.StatusChanged += OnTaskUpdate;
        UpscaleTaskProcessor.StatusChanged += OnTaskUpdate;
    }

    public void Dispose()
    {
        TaskQueue.TaskEnqueued -= OnTaskUpdate;
        StandardTaskProcessor.StatusChanged -= OnTaskUpdate;
        UpscaleTaskProcessor.StatusChanged -= OnTaskUpdate;
    }

    private async Task OnTaskUpdate(PersistedTask task)
    {
        await InvokeAsync(() => UpdateTasks());
    }

    private async Task UpdateTasks()
    {
        Logger.LogInformation("Updating tasks in Tasks-overview");

        var allTasks = await DbContext.PersistedTasks.ToListAsync();

        standardTasks = allTasks.Where(x => x.Data is not UpscaleTask).ToList();
        upscaleTasks = allTasks.Where(x => x.Data is UpscaleTask).ToList();

        StateHasChanged();
    }
}
