@page "/"
@using MangaIngestWithUpscaling.Services.BackqroundTaskQueue
@using MangaIngestWithUpscaling.Services.BackqroundTaskQueue.Tasks

@inject ITaskQueue TaskQueue
@inject IWebHostEnvironment WebHostEnvironment

<PageTitle>Home</PageTitle>

<MudStack>
    <MudText Typo="Typo.h3">How to use</MudText>

    <MudText Typo="Typo.body1">
        A few steps to get you started:
        <ol class="ml-5">
            <li>Set up a library in the <MudLink href="libraries">Libraries</MudLink> section.</li>
            <li>Add a few mangas by adding them to your configured ingest folder.</li>
            <li>Wait for the system to ingest the mangas and chapters.</li>
            <li>Upscale the chapters you want to upscale. If you set it up that way, it should automatically start upscaling right now.</li>
        </ol>
    </MudText>

    @if (WebHostEnvironment.IsDevelopment())
    {
        <MudPaper Elevation="2">
            <h3>Task Queue test</h3>
            <MudInput @bind-Value="message" Label="Message" />
            <MudButton OnClick="TestTaskQueue" Variant="Variant.Filled">Enqueue logging Task</MudButton>
        </MudPaper>
    }
</MudStack>

@code {
    private string message = "Hello, world!";

    private async Task TestTaskQueue()
    {
        await TaskQueue.EnqueueAsync(new LoggingTask { Message = message });
    }
}